In [1]:
import pandas as pd

df = pd.read_csv('data.txt', index_col=[0])
df = df[['pm2.5', 'TEMP', 'DEWP', 'PRES', 'Ir', 'Is', 'Iws']]
df

       pm2.5  TEMP  DEWP    PRES  Ir  Is     Iws
No
1        NaN -11.0   -21  1021.0   0   0    1.79
2        NaN -12.0   -21  1020.0   0   0    4.92
3        NaN -11.0   -21  1019.0   0   0    6.71
4        NaN -14.0   -21  1019.0   0   0    9.84
5        NaN -12.0   -20  1018.0   0   0   12.97
...      ...   ...   ...     ...  ..  ..     ...
43820    8.0  -2.0   -23  1034.0   0   0  231.97
43821   10.0  -3.0   -22  1034.0   0   0  237.78
43822   10.0  -3.0   -22  1034.0   0   0  242.70
43823    8.0  -4.0   -22  1034.0   0   0  246.72
43824   12.0  -3.0   -21  1034.0   0   0  249.85

[43824 rows x 7 columns]

In [2]:
# Time Serie split
len_ = int(0.8*df.shape[0])
df_train = df[:len_]
df_test = df[len_:]

In [3]:


# Scale with MinMaxScale
from sklearn.preprocessing import MinMaxScaler
columns = df.columns

scaler = MinMaxScaler()
df_train = pd.DataFrame(scaler.fit_transform(df_train), columns=columns)
df_test = pd.DataFrame(scaler.transform(df_test), columns=columns)
df_train.head()

   pm2.5      TEMP      DEWP      PRES   Ir   Is       Iws
0    NaN  0.133333  0.196721  0.545455  0.0  0.0  0.002290
1    NaN  0.116667  0.196721  0.527273  0.0  0.0  0.007639
2    NaN  0.133333  0.196721  0.509091  0.0  0.0  0.010698
3    NaN  0.083333  0.196721  0.509091  0.0  0.0  0.016047
4    NaN  0.116667  0.213115  0.490909  0.0  0.0  0.021396